@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");

body {
  background-color: #282c34;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto", sans-serif;
}
